

<footer id="contact" class="main-footer">
      <div class="container flexfooter">
        <div class="footer-address">
          <p class="footer logo">
            <a href="#" class="logostudio logo-half"><span class="logo-blue">Web</span>Studio</a>
          </p>
          <address class="main-footer-addressbar">г. Киев, пр-т Леси Украинки, 26</address>
          <address>
            <ul class="list footerlist">
              <li class="item">
                <a href="mailto:info@devstudio.com" class="focused contact-link-footer"
                  >info@devstudio.com</a
                >
              </li>
              <li class="item">
                <a href="tel:+380961111111" class="focused contact-link-footer"
                  >+38 096 111 11 11</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-sociallinks">
          <h3 class="features-uppercase">присоединяйтесь</h3>
          <ul class="list flexlist soclinkfoot-item">
            <li class="soclinkfootlinks">
              <a
                class="soclinkfootlinks-icon"
                href=" https://www.instagram.com/"
                aria-label="Instagram"
              >
                <svg class="icon instagram" height="20" width="20">
                  <use href="/img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="soclinkfootlinks">
              <a class="soclinkfootlinks-icon" href="https://twitter.com/" aria-label="Twitter">
                <svg class="icon twitter" height="20" width="20">
                  <use href="./images/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="soclinkfootlinks">
              <a
                class="soclinkfootlinks-icon"
                href="https://www.facebook.com/"
                aria-label="Facebook"
              >
                <svg class="icon facebook" height="20" width="20">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="soclinkfootlinks">
              <a
                class="soclinkfootlinks-icon"
                href="https://www.linkedin.com/"
                aria-label="Linkedin"
              >
                <svg class="icon linkedin" height="20" width="20">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-form-sign">
          <h3 class="features-uppercase dis">Подпишитесь на рассылку</h3>
          <div class="footer-form flexlist">
            <input class="footer-input-form" type="email" name="email" placeholder="E-mail" />
            <button type="button" class="button button-footer flexlist">
              Подписаться
              <!-- <svg class="icon telegram" height="24" width="24">
                <use href="./images/sprite.svg#telegram"></use>
              </svg> -->
            </button>
          </div>
        </div>
      </div>
    </footer>