html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.navbar{
    margin-bottom: 0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer{
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: white;
}

.section-top{
    margin-bottom: 20px
}

.product-description-tabs{
    padding: 10px;
}

.section{
    padding: 50px 0;
}

.section h1{
    margin-bottom: 40px;
}

.product-item{
    height: 360px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.discount-container{
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery{
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.navbar-top{
    min-height: 10px;
    height: 20px;
    background-color: green;
    border: none;
    border-radius: 0;
}

.navbar-main{
    background-color: #55e073;
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #55e093;
    z-index: 10;
    padding: 10px;
}
.form-error{
    color: red;
}
:root {
  --primary-text-color: #212121;
  --primary-background-color: #ffffff;
  --accent-color: #2196f3;
  --button-accent-color: #188ce8;
  --background-footer-color: #2f303a;
  --logo-color: #000000;
  --secondary-background: #f5f4fa;
  --subtitle-text-color: #757575;
  --opposite-text-color: #ffffff;
  --sprite-color: #afb1b8;
  --border-color: #eeeeee;
  --shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

body {
  font: normal 400 14px/1.71 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  letter-spacing: 0.03em;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

/* утилиты сброс маркеров для всех списков */
a {
  text-decoration: none;
}

.list {
  /* font-size: 0; */
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0px;
}

textarea {
  resize: none;
}

/* заголовки */
h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

li .title {
  padding-bottom: 4px;
  font: normal 700 18px/1.71 Roboto, sans-serif;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.middling {
  font-size: 16px;
}

.team {
  background: var(--secondary-background);
}

.subtitle {
  color: var(--subtitle-text-color);
}

/* геометрия */
/* Основные  */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.indented {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* portfolio геометрия*/
.flexelement,
.portfolioelement {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: background-color var(--time) var(--time-function);
}

.portfolioelement:hover {
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.focused-button {
  display: inline-block;
  min-width: 73px;
  border: none;
  border-radius: 4px;
  height: 38px;
  padding: 6px 22px;
  font-weight: 500;
  background: var(--secondary-background);
  transition: var(--time) var(--time-function);
}

.focused-button:hover,
.focused-button:focus {
  background: var(--accent-color);
  color: var(--opposite-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.flexlist {
  display: flex;
}

.portfoliolist {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fourrowel {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.flexlist .fourrowel:last-child,
.flexlist .flexelement:last-child {
  margin-right: 0;
}

/* стили svg */

svg {
  display: inline;
}

.contact-link .icon {
  margin-right: 10px;
}

.sociallinks:not(:last-child) {
  margin-right: 10px;
}

.sociallinks {
  border-radius: 50%;
  fill: var(--sprite-color);
}

.sociallinks .sociallinks-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--sprite-color);
  border-radius: 50%;
  transition: background-color var(--time) var(--time-function);
}

.sociallinks a:hover,
.sociallinks a:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

.sociallinks-item {
  margin: 16px 32px 24px;
}

.clients:not(:last-child) {
  margin-right: 30px;
}

.clients {
  display: flex;
  box-sizing: border-box;
}

.clients .clients-icon {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  fill: var(--sprite-color);
  border: 1px solid var(--sprite-color);
  border-radius: 4px;
  transition: border var(--time) var(--time-function), fill var(--time) var(--time-function);
}

.clients .clients-icon:hover,
.clients .clients-icon:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.iconfeatures::before {
  content: '';
  display: block;
  height: 120px;
  background: var(--secondary-background);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.iconfeatures:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
  margin-bottom: 30px;
}

.iconfeatures:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  margin-bottom: 30px;
}

.iconfeatures:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
  margin-bottom: 30px;
}

.iconfeatures:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  margin-bottom: 30px;
}

/* индивидуальные */

.comelement {
  background-color: var(--opposite-text-color);
  box-shadow: var(--shadow-modal);
  border-radius: 0px 0px 4px 4px;
}

.contact-link {
  align-items: center;
  fill: var(--subtitle-text-color);
}

.portfolioelement {
  background-color: var(--opposite-text-color);
  border: 1px solid var(--border-color);
}

.maxindented {
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
  color: var(--opposite-text-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgi.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
}

.container-banner {
  max-width: 696px;
  text-align: center;
}

.order-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font: normal 900 44px/1.364 Roboto, sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* margin: 0 auto 30px;  если задать ширину, то центрировать можно маржин авто*/
}

.main-menu {
  display: flex;
  margin-left: 93px;
}

.contact {
  /* display: flex; */
  margin-left: auto;
}

.main-menu .item+.item {
  margin-left: 50px;
}

.features-uppercase {
  font: normal 700 14px/1.142 Roboto, sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.link,
.flexelement {
  position: relative;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.flexelement .features-uppercase {
  position: absolute;
  color: var(--opposite-text-color);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  margin: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.thumb .whitetext {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  color: var(--opposite-text-color);
  background: rgba(33, 150, 243, 0.9);
  text-align: left;
  font: normal normal 18px/1.556 Roboto, sans-serif;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform var(--time) var(--time-function);
}

.thumb:hover .whitetext {
  transform: translateX(0);
  opacity: 1;
}

.comcontent {
  margin: 30px;
  text-align: center;
}

.name {
  margin-bottom: 10px;
}

/* portfolio стр портфолио фильтры */
.main-filters {
  display: flex;
  justify-content: center;
}

.main-filters .item+.item {
  margin-left: 8px;
}

.portfolioelement:nth-child(3n) {
  margin-right: 0;
}

.portfolioelement:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header .container {
  display: flex;
  align-items: center;
}

.flexnav {
  display: flex;
  align-items: center;
}

.minindented {
  padding-bottom: 50px;
}

li div.signature {
  margin: 20px 24px;
  text-align: left;
}

.signature .subtitle {
  text-align: left;
}

.features-title {
  display: none;
}

/* логотип */
.logo .logostudio {
  margin-top: 0;
  font: normal 700 26px/1.92 Raleway, sans-serif;
  color: var(--logo-color);
}

.logo .logo-half {
  color: var(--opposite-text-color);
}

/*footer подвал */
.footer a {
  display: inline-block;
  margin-bottom: 10px;
}

.footerlist li:first-child {
  margin-top: 9px;
  margin-bottom: 9px;
}

footer {
  color: var(--opposite-text-color);
  background: var(--background-footer-color);
}

.list .contact-link-footer {
  color: rgba(255, 255, 255, 0.6);
}

.item .contact-link,
.featurestext {
  color: var(--subtitle-text-color);
}

.flexfooter {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.footer-address {
  /* margin-right: 70px; */
  min-width: 231px;
  text-align: start;
}

.soclinkfootlinks-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--primary-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time) var(--time-function);
}

.soclinkfootlinks a:hover,
.soclinkfootlinks a:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

.soclinkfootlinks:not(:last-child) {
  margin-right: 10px;
}

.soclinkfootlinks {
  margin-top: 10px;
}

.footer-form-sign {
  display: inline-block;
}

.footer-form input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: var(--background-footer-color);
}

.dis {
  margin-bottom: 20px;
}

.footer-form .button-footer {
  margin-left: 12px;
  position: relative;
  padding: 10px 28px;
}

.button-footer::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  background: url(../images/telegram.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.footer-input-form {
  font: normal 400 16px/1.25 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 12px;
}

.footer-input-form::placeholder {
  font: normal 400 16px/1.25 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

/* подстили */

/* кнопка-ссылка */
.button {
  /* display: inline-block; */
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;
  border-radius: 4px;
  border: none;
  font: normal 700 16px/1.875 'Roboto', sans-serif;
  background: var(--accent-color);
  color: var(--opposite-text-color);
  transition: background-color var(--time) var(--time-function);
}

.button:hover,
.button:focus {
  background: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 300ms linear 700ms;
}

.is-hidden .modal {
  top: -100%;
  transform: translateX(-50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  transition: all 700ms;
  background-color: var(--primary-background-color);
  box-shadow: var(--shadow-modal);
  border-radius: 4px;
}

.button-close {
  position: absolute;
  /* display: flex; */
  top: 8px;
  right: 8px;
}

.button-close .icon-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--opposite-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: currentColor;
  /* z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.icon-close:hover,
.icon-close:focus {
  color: var(--accent-color);
  outline: 1px rgba(0, 0, 0, 0.1);
}

.title-form {
  font: normal 700 20px/1.15 'Roboto', sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 12px;
  text-align: center;
}

.form {
  margin: 40px;
}

.form-filling {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
}

.form-label {
  color: var(--subtitle-text-color);
  font: normal 400 12px/1.16 'Roboto', sans-serif;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-field input {
  height: 40px;
  padding-left: 40px;
}

.form-field textarea,
.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-focus {
  transition: outline var(--time) var(--time-function);
}

.form-focus:focus-within {
  border: var(--accent-color);
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

.form-field textarea {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
}

.form-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-75%);
  display: block;
  width: 18px;
  height: 18px;
  /* outline: 1px solid orangered; */
  transition: fill var(--time) var(--time-function);
}

.form-input .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-policy {
  text-align: center;
}

textarea::placeholder {
  font: normal 400 12px/1.16 'Roboto', sans-serif;
  color: rgba(117, 117, 117, 0.5);
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  /* appearance: none;
  or
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }
  */
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  color: var(--subtitle-text-color);
  transition: fill var(--time) var(--time-function);
  margin-bottom: 30px;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 16px;
  background-image: url(../images/iconcheck.svg);
  background-repeat: no-repeat;
  background-position: center center;
  fill: var(--opposite-text-color);
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: fill var(--time) var(--time-function);
}

.custom-checkbox+label:hover::before {
  fill: var(--accent-color);

  text-align: center;
}

.custom-checkbox:checked+label::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
}

.custom-checkbox-label a {
  line-height: 0.85;
  text-decoration: underline;
  border-bottom: 1px solid currentColor;
}

.button-send {
  display: block;
  margin: auto;
  width: 200px;
}

/* .button-send:focus {
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
} */

.main-menu .focused {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

address {
  font-style: normal;
}

.focused {
  font-weight: 400;
  color: var(--primary-text-color);
  transition: color var(--time) var(--time-function);
}

.logo-blue,
.main-menu .focused.current,
.focused:hover,
.focused:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.focused.current {
  position: relative;
  transition: color var(--time) var(--time-function);
}

.focused.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 77px;

  background: var(--accent-color);
  border-radius: 2px;
}

.border {
  border-top: 1px solid #ececec;
}